header {
  width: 100%;
}

body {
  width: 100%;
  margin: 0%;
}

main {
  width: 100%;
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  background-color: #003399;
  padding: 5rem 0;
  color: #fff;
  bottom: 0px;
}

header h1 {
  margin: 20px;
}

.menu {
  background-color: #003399;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 0; 
  border: none;
  outline: none;
  background-color: #003399;
  color: white;
  width: 14.3%;
  height: 75px;
  font-size: 20px;
  &:hover{
    background-color: #3366FF;
    color: white;
    cursor: pointer;
  }
}

img {
  position: relative;
  width: 100%; /* 画像の横幅を100%に設定 */
  height: auto; /* 高さを自動で計算してアスペクト比を保つ */
  display: block; /* 不要な空白を防ぐために画像をブロック要素として表示 */
}

#mapPageBtn {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: orange;
  color: #fff;
  border: orange solid 2px;
  border-radius: 8px;
  &:hover{
    background-color: #fff;
    color: orange;
    border: orange solid 2px;
  }
}

#image-container p {
  position: absolute;
  right: 0;
  top: 25%;
  color: #fff;
}

#codePageBtn {
  width: auto;
  background: orange;
  color: #fff;
  border: orange solid 2px;
  border-radius: 8px;
  &:hover{
    background-color: #fff;
    color: orange;
    border: orange solid 2px;
  }
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  text-align: center;
}

footer .container {
  text-align: center;
}

.menu button.contentBtn.active {
  background-color: #3366FF;
}

#content-container {
  margin: 20px;
}

.images {
  width: 50%;
  height: auto;
}

.content-3 {
  margin: 5px
}

/* #DC-proposal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* ビューポートの高さいっぱいに広がるように設定 */
/* }  */